# Editor temporary/working/backup
*~
*.bak
*.swp

# Compiled source
*.dll
*.exe
*.exp
*.la
*.lib
*.lo
*.o
*.obj
*.ol
*.pdb
*.pyc

# IDEs
build.local.bat
build.local.sh
/.idea
/.vs*
/*build*
/nbproject

# Autotools
autom4te.cache
/aclocal.m4
/compile
/config.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
libtool
.deps
.dirstamp
.libs
Makefile.in
Makefile

# CMake
CMakeFiles
CMakeCache.txt
CMakeSettings.json
CTestTestfile.cmake
cmake_install.cmake
cmake/project-config*.cmake
install_manifest.txt
/googletest*

# / (base)
/*.manifest
/README
/bin
/lib
/proj.pc
/test-driver
/Testing

# data
/data/all.sql.in
/data/proj.db
/data/*.ct2
/data/*.dat
/data/*.gsb
/data/*.gtx
/data/*.lla
/data/*.pol
/data/*.zip
/data/DK
/data/FL
/data/FO
/data/GL
/data/MD
/data/NKG
/data/README*
/data/TN
/data/WI
/data/WO
/data/alaska
/data/conus
/data/hawaii
/data/null
/data/prvi
/data/stgeorge
/data/stlrnc
/data/stpaul
/data/tv_out
/data/for_tests/

# docs
tmp_breathe
/docs/.doxygen_up_to_date
/docs/build
/latex

# m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# src
/src/cct
/src/cs2cs
/src/geod
/src/geodtest*
/src/gie
/src/proj
/src/proj_config.h
/src/proj_config.h.in
/src/projinfo
/src/projsync
/src/stamp-h1
/src/test-suite.log

# test/unit
/test/unit/basic_test
/test/unit/gie_self_tests
/test/unit/include_proj_h_from_c
/test/unit/pj_phi2_test
/test/unit/pj_transform_test
/test/unit/proj_angular_io_test
/test/unit/proj_context_test
/test/unit/test_cpp_api
/test/unit/proj_errno_string_test
/test/unit/test_defmodel
/test/unit/test_network
/test/unit/test_tinshift
/tmp_alias/

# jniwrap
jniwrap/out
