platform:
- x64
- x86

branches:
  except:
    - /(cherry-pick-)?backport-\d+-to-/

environment:
  matrix:

# VS 2015
  - VS_VERSION: Visual Studio 14
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015

# VS 2017
  - VS_VERSION: Visual Studio 15
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017

shallow_clone: true

build_script:
  - echo build_script
  # update vcpkg
  - cmd: |
      cd "C:\Tools\vcpkg"
      git pull
      .\bootstrap-vcpkg.bat
      cd %APPVEYOR_BUILD_FOLDER%
  - vcpkg install sqlite3[core,tool]:"%platform%"-windows
  - vcpkg install tiff:"%platform%"-windows
  - vcpkg install curl:"%platform%"-windows
  - dir C:\Tools\vcpkg\installed\%platform%-windows\bin
  - set PATH=C:\Tools\vcpkg\installed\%platform%-windows\bin;%PATH%
  - if "%platform%" == "x64" SET VS_FULL=%VS_VERSION% Win64
  - if "%platform%" == "x64" SET BUILD_SHARED_LIBS=ON
  - if "%platform%" == "x86" SET VS_FULL=%VS_VERSION%
  - if "%platform%" == "x86" SET BUILD_SHARED_LIBS=OFF
  - echo "%VS_FULL%"
#
  - set PROJ_BUILD=%APPVEYOR_BUILD_FOLDER%\build
  - mkdir %PROJ_BUILD%
  - cd %PROJ_BUILD%
  - set PROJ_DIR=%APPVEYOR_BUILD_FOLDER%\proj_dir
  - cmake -G "%VS_FULL%" .. -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS="%BUILD_SHARED_LIBS%" -DCMAKE_C_FLAGS="/WX" -DCMAKE_CXX_FLAGS="/WX" -DCMAKE_TOOLCHAIN_FILE=c:/tools/vcpkg/scripts/buildsystems/vcpkg.cmake -DCMAKE_INSTALL_PREFIX="%PROJ_DIR%"
  - cmake --build . --config Release --target install
  - dir %PROJ_DIR%\bin

test_script:
  - echo test_script
  - set PROJ_LIB=%PROJ_DIR%\share\proj
  - cd %PROJ_BUILD%
  - ctest -V -C Release
  - set PATH=%PROJ_DIR%\bin;%PATH%
  - proj

deploy: off
