name: Conda


on:
  push:
      paths-ignore:
          - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  conda:
    name: Conda ${{ matrix.platform }}
    if: github.repository == 'OSGeo/PROJ'

    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: true
      matrix:
        # macos-15-intel: Intel
        # macos-14: arm64
        platform: ['ubuntu-latest','windows-latest','macos-15-intel','macos-14']

    env:
      GHA_CI_PLATFORM: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v6

    - uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-version: latest
        use-mamba: true
        channels: conda-forge
        auto-update-conda: true

    - name: Setup
      shell: bash -l {0}
      run: |
          source ./scripts/ci/conda/setup.sh

    - name: Build
      shell: bash -l {0}
      run: |
          source ../scripts/ci/conda/compile.sh
      working-directory: ./proj.4-feedstock


    - uses: actions/upload-artifact@v5
      with:
        name: ${{ matrix.platform }}-conda-package
        path: ./proj.4-feedstock/packages/
