name: Conda


on:
  push:
      paths-ignore:
          - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  conda:
    name: Conda ${{ matrix.platform }}
    if: github.repository == 'OSGeo/PROJ'

    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: true
      matrix:
        platform: ['ubuntu-latest','windows-latest','macos-latest']

    env:
      PLATFORM: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v3

    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniforge-variant: Mambaforge
        miniforge-version: latest

    - name: Setup
      shell: bash -l {0}
      run: |
          source ./scripts/ci/conda/setup.sh

    - name: Build
      shell: bash -l {0}
      run: |
          source ../scripts/ci/conda/compile.sh
      working-directory: ./proj.4-feedstock


    - uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.platform }}-conda-package
        path: ./proj.4-feedstock/packages/
