name: Emscripten

on:
  push:
      paths-ignore:
          - 'docs/**'
  pull_request:
      paths-ignore:
          - 'docs/**'


concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:

  emscripten:
    runs-on: ubuntu-latest

    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Build docker
        run: docker build -t proj-emscripten-builder scripts/ci/emscripten/

      - name: Artifacts folder
        run: mkdir -p "$PWD"/wasm_out

      - name: Run docker
        run: docker run --rm -v "$PWD":/build/proj_src -v "$PWD"/wasm_out:/usr/local/wasm proj-emscripten-builder

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: proj-js-wasm
          retention-days: 15
          path: wasm_out/projModule.*
