name: MacOS build

on:
  push:
      paths-ignore:
          - 'docs/**'
  pull_request:
      paths-ignore:
          - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:

  macos_build:
    strategy:
      fail-fast: true
      matrix:
        include:
          - platform: "macos-latest"
            architecture: "x64"
          # macOS-14 is a M1 ARM64 MacOS runner: https://github.blog/changelog/2024-01-30-github-actions-introducing-the-new-m1-macos-runner-available-to-open-source/
          - platform: "macOS-14"
            architecture: "arm64"

    runs-on: ${{ matrix.platform }}

    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]')"
    steps:

      - uses: actions/checkout@v4

      - uses: mamba-org/setup-micromamba@v1
        with:
          init-shell: bash
          environment-file: .github/workflows/mac/environment.yml

      - name: Cache
        uses: actions/cache@v4
        id: cache
        with:
          path: ${{ github.workspace }}/.ccache
          key: ${{ runner.os }}-cache-mac-${{ matrix.architecture }}-${{ github.run_id }}
          restore-keys: ${{ runner.os }}-cache-mac-${{ matrix.architecture }}-

      - name: Install Requirements
        shell: bash -l {0}
        run: |
          source .github/workflows/mac/before_install.sh

      - name: Build
        shell: bash -l {0}
        run: |
          export TRAVIS_BUILD_DIR=$PWD
          source .github/workflows/mac/install.sh
        env:
            CCACHE_DIR: ${{ github.workspace }}/.ccache
            TRAVIS_OS_NAME: osx
            BUILD_NAME: osx
